main>div {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#texto-boas-vindas, #texto-termos{
    font-size: var(--tamanho-fonte-md);
    color: var(--cor-preto1);
    font-weight: 16px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 2%;
    

}

form > img{
    width: 100%;
}

.estilo-formulario{
max-width: 342px;
}

.formulario-campos {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3px;
}

section {
    width: 100%;
    height: 60px;
    max-width: 342px;
    background-color: var(--cor-cinza-claro1);
    border: var(--borda);
    border-radius: var(--borda-arredondada);
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario-botao-rosa {
    width: 100%;
}

#link-login{
    text-decoration: none;
    color: var(--cor-rosa);
    font-size: var(--tamanho-fonte-md);
}

#texto-login {
    color: var(--cor-preto1);
    font-size: var(--tamanho-fonte-md);
}

