main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-flex-publi {
    background-color: lightpink;
    height: 700px;
    width: 90%;
    max-width: 900px;
}

#secao-stories {
    width: 100%;
    /* height: 60px; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
    gap: 20px;
}

#secao-stories::-webkit-scrollbar{
    width: 0;
}

.card-story>button {
    background-color: transparent;
    border: none;

    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-preto);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;


}

.card-story>button>img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

/*Seção criar publi*/

.formulario-botao-rosa{
    width: 150px;
    
}

